body {
	background-image: url("assets\images\backgrounds\tool.jpg");
	background-repeat: no-repeat center;
	background-size: cover;
}

.container {
	background-color: rgba(0, 0, 0, 0.4);
	border: 5px solid black;
	border-radius: 25px;
}

/* Images */
.img-fluid:hover {
	transform: scale(1.05, 1.05);
}